body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Segoe UI';
    background-color: #fefefe;
    color: hsl(0, 0%, 20%);
    max-width: 100%; /* 设置最大宽度为80% */
    margin: 0 auto;
    padding: 20px;

}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #000;
    font-size: 1.75em;
    line-height: 1.5; /* 设置行间距 */
    text-align: center; /* 居中对齐 */
    width: 70%; /* 设置宽度为50% */
    margin: 0 auto; /* 居中显示 */
}


h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    font-size: 1.5em
}

h4 {
    font-size: 1.3em
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: none; /* 去掉表的边线 */
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border: none; /* 去掉单元格的边线 */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-container img {
    max-width: 100px;
    height: auto;
}

audio {
    width: 300px; /* 设置宽度 */
    border: 1px solid #ccc; /* 添加边框 */
    border-radius: 15px; /* 圆角效果 */
    background-color: #f0f0f0; /* 背景色 */
    outline: none; /* 去掉默认的轮廓 */
}

footer {
    text-align: center;
    margin-top: 20px;
}

.abstract-text {
    font-size: 1.05em; /* 设置字号 */
    line-height: 1.5; /* 设置行间距 */
    max-width: 70%; /* 设置最大宽度为60% */
    margin: 0 auto; /* 居中 */
    margin-top: 0.5em; /* Set top margin to 0.5 lines */
    margin-bottom: 0.5em; /* Set bottom margin to 0.5 lines */
    text-align: justify; /* Align text to both left and right */
    list-style-type: none; /* 取消默认标号样式 */
    counter-reset: list-counter; /* 重置计数器 */
    font-family: 'Segoe UI'; /* 设置字体 */
}

.abstract-text li {
    counter-increment: list-counter; /* 增加计数器 */
    width: 93%; /* 设置列表项宽度为50% */
    margin: 0 auto; /* 居中显示列表项 */
    margin-bottom: 10px; /* 设置每个列表项的底部间距 */
    display: block; /* 使宽度生效 */
    padding-left: 0; /* 取消左侧缩进 */
    /* font-weight: 12; 加粗列表项内容 */
}

.abstract-text li::before {
    content: counter(list-counter) ")"; /* 自定义标号样式 */

    margin-right: 23px; /* 标号与文本间距 */
    margin-left: -40px; /* 调整标号左侧缩进 */
}


.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 100%;
}

.image-column {
    flex: 0 0 18%;
    /* Adjust column width */
    margin: 5px;
    /* Space between columns */
    text-align: center;
}

.image-column img {
    width: 100%;
    /* Responsive width */
    height: auto;
    /* Maintain aspect ratio */
    max-width: 1200px;
    /* Limit image size */
}

.image-column .bpp {
    font-size: 18px;
    /* Smaller font for captions */
    margin: 0px 0;
    margin-bottom: 0px;
    /* 增加图片之间的间距 */
    /* Space between lines */
}

.image-column .psnr {
    font-size: 18px;
    /* Smaller font for captions */
    margin: 0px 0;
    margin-bottom: 20px;
        /* 增加图片之间的间距 */
    /* Space between lines */
}

.image-column .our_bpp {
    font-size: 18px;
    /* Smaller font for captions */
    margin: 0px 0;
    margin-bottom: 0px;
    font-weight: bold;
    /* 增加图片之间的间距 */
    /* Space between lines */
}

.image-column .our_psnr {
    font-size: 18px;
    /* Smaller font for captions */
    margin: 0px 0;
    margin-bottom: 20px;
    font-weight: bold;
    /* 增加图片之间的间距 */
    /* Space between lines */
}

