body {
    font-family: 'Segoe UI';
    background-color: #fefefe;
    color: hsl(0, 0%, 20%);
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 220vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 65%; /* 保持最大宽度 */
    width: 90%; /* 根据需要设置内容宽度 */
    margin: 20px; /* 添加内边距 */
}
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #000;
    font-size: 1.75em;
    line-height: 1.5; /* 设置行间距 */
    text-align: center; /* 居中对齐 */
    width: 70%; /* 设置宽度为50% */
    margin: 0 auto; /* 居中显示 */
}


h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    font-size: 1.5em
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: none; /* 去掉表的边线 */
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border: none; /* 去掉单元格的边线 */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-container img {
    max-width: 100px;
    height: auto;
}

audio {
    width: 300px; /* 设置宽度 */
    border: 1px solid #ccc; /* 添加边框 */
    border-radius: 15px; /* 圆角效果 */
    background-color: #f0f0f0; /* 背景色 */
    outline: none; /* 去掉默认的轮廓 */
}

footer {
    text-align: center;
    margin-top: 20px;
}

.abstract-text {
    font-size: 1.05em; /* 设置字号 */
    line-height: 1.5; /* 设置行间距 */
    max-width: 70%; /* 设置最大宽度为60% */
    margin: 0 auto; /* 居中 */
    margin-top: 0.5em; /* Set top margin to 0.5 lines */
    margin-bottom: 0.5em; /* Set bottom margin to 0.5 lines */
    text-align: justify; /* Align text to both left and right */
    list-style-type: none; /* 取消默认标号样式 */
    counter-reset: list-counter; /* 重置计数器 */
    font-family: 'Segoe UI'; /* 设置字体 */
}

.abstract-text li {
    counter-increment: list-counter; /* 增加计数器 */
    width: 93%; /* 设置列表项宽度为50% */
    margin: 0 auto; /* 居中显示列表项 */
    margin-bottom: 10px; /* 设置每个列表项的底部间距 */
    display: block; /* 使宽度生效 */
    padding-left: 0; /* 取消左侧缩进 */
    /* font-weight: 12; 加粗列表项内容 */
}

.abstract-text li::before {
    content: counter(list-counter) ")"; /* 自定义标号样式 */

    margin-right: 23px; /* 标号与文本间距 */
    margin-left: -40px; /* 调整标号左侧缩进 */
}


.image-container img {
    max-width: 100%; /* 图片宽度不超过容器宽度 */
    height: auto;    /* 高度自动调整以保持比例 */
    max-height: 150px; /* 设置最大高度 */
    margin: 30px; /* 添加间距 */
}
